include LICENSE
include README.md
include requirements.txt
recursive-include connpy/core_plugins *
recursive-include connpy/proto *
recursive-include connpy/grpc_layer *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
